body {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

footer {
  text-align: center;
  font-size: 24px;
  margin: 15px 0;
}

.container {
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}

.section-titles {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 500px;
}

.section-titles a {
  text-decoration: none;
  color: #669;
}

.line-below {
  border-bottom: 1px solid black;
}

.game-fuel {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.game-fuel:hover {
  filter: contrast(50%);
  transform: scale(1.2);
}

.vgb {
  display: block;
  margin: 0 auto;
  border: 2px solid #669;
  background: white;
  font-size: 24px;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

.vgb:hover {
  background: #669;
  color: white;
  cursor: pointer;
}

.name {
  color: white;
}
